/* GENERAL STYLING */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  list-style: none;
  text-decoration: none;
  /* border: 2px solid red; */

}

:root{
  --primary: #055216;
  --secondary:#87d487;
  --accent1: #ededed;;
  --accent2:#a7e6d3;
  --heading-font: "Special Gothic Expanded One", sans-serif;
  --text-font: "Roboto Condensed", sans-serif;
}

/* BODY STYLES */
body{

  background-color: var(--accent1);
  font-family: var(--text-font);

}

header h1{
  margin-left: 1rem;
  font-size: 1.8rem;

}

h1, h2{
  font-family: var(--heading-font);
  padding: 1rem 0;
}

nav,p,section,article{
  margin: 16px;
  padding: 8px;
}



/* MAIN STYLE */
header, main, footer{
  max-width: 840px;
  margin: 0 auto;
}
/* HEADER STYLES */
header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color:var(--primary);
  color: antiquewhite;
  padding: 1rem;
}
/* Header Section */
header{
  max-width: 840px;
  margin: 0 auto;
  margin: grid;
  grid-column: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #055216;


}
header img{
  height: 20px;
}

.logo{
  width: 100px;
  height: auto;
}
.nav-links{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-links a{
  color: antiquewhite;
  background-color: var(--primary);
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
  transition: 0.3s;

}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a.active
nav ul li a:hover{
  border-bottom: 2px solid white;
color:#FFFFFF;
background: #d68a4d;
padding: .2rem .7rem;
border-radius: 20px;
}
/* Home page styles*/
.hero{
  position: relative;
  margin: 0 auto 2rem;
  max-width: 840px;}

/* hero section */
.hero img{
  width: 100%;
  height: auto;
  display: block;
}

.hero-heading {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 2.5rem;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
}
.hero img {width: 100%;
  height: auto;
  }
  /*Grid Layout*/
  .grid-info{display: grid;
    grid-template-columns: repeaar(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem auto;
    max-width: 840px;
    padding: 0 2rem;
}

.grid-item {
    background-color: var(--accent1-color);
    border-radius: 8px;
    overflow: hidden;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width: 100%;
    height: auto;
    
}
.grid-item p {
    padding: 10px;
}

.grid-item img:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: .3s ease-in-out;
}
/* Newsletter */
.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
/* CTA */
.cta {
  text-align: center;
  padding: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.cta-section {
    max-width: 840px;
    margin: 2rem auto;
    padding: 0 2rem;
    text-align: center;
}
.cta-button {
    display: inline-block;
    background-color: #2a6a9e;
    color: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
    margin: 1rem 0;
}
.cta-button:hover {
    background-color: #e09a5f;
    cursor: pointer;
}
/* About Page Specific Styles */
.hero article {
    position: absolute;
    bottom: 40px;
    left: 10%;
    width: 80%;
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.hero article h2 {
    color: white;
    margin-bottom: 1rem;
}

.mission {
    color: var(--secondary-color);
    text-align: center;
    padding: .6rem 0;
}

.history {
    max-width: 840px;
    margin: 2rem auto;
    padding: 0 2rem;
}
.history h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.history-content p {
    text-align: justify;

}
.history-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.text-column {
    flex: 1;
    min-width: 200px;
}

.image-column {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
}
.image-column img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}
.adventures {
    max-width: 840px;
    margin: 3rem auto;
padding: 0 2rem;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}
.gallery figure {
    margin: 0;
    transition: transform 0.3s;
}

.gallery figure:hover {
    transform: translateY(-5px);
}
.gallery img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
.gallery figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--accent1-color);
}
/* Contact Page Specific Styles */

.hero-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.contact-info {
    background-color: var(--accent1-color);
    padding: 1.5rem;
    border-radius: 8px;
}

.contact-info address {
    font-style: normal;
    margin-bottom: 1.5rem;
}

.contact-info p {
    margin-bottom: 0.8rem;
}

.map-container {
    margin-top: 1.5rem;
}
.map-container iframe {
    border-radius: 8px;
    width: 100%;
}

.google-map {
    width: 100%;
    border: 0;
    border-radius: 8px;
}

.contact-form {
    background-color: var(--accent1-color);
    padding: 1.5rem;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    color: #2a6a9e;
    margin-bottom: 1rem;
}


.contact-form label

.form-submit {
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.radio-group {
    margin-bottom: 0.5rem;
}

.radio-group label {
    display: inline;
    font-weight: 500;
    margin-left: 0.5rem;
    color: #333333;
}
.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 0.5rem;
}
checkbox-group label {
    font-size: .8rem;
    font-weight: 600;
    color: #333333;
}
.submit-btn {
    background-color: #2a6a9e;
    color: white;
    border: none;
    padding: 1rem 2rem;
    ;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
/* .submit-btn:hover {
    background-color: #2a6a9e;
} */

.team {
    max-width: 840px;
    margin: 2rem auto;
    padding: 0 2rem;
    text-align: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
gap: 2rem;
    margin-top: 1.5rem;
}

.team-members figure {
    margin: 0;
}
.team-members img:hover {
    transform: scale(1.05);
}

.team-members figcaption {
    margin-top: 0.8rem;
    font-weight: bold;
    color: #135d9b;
}

.team-members em {
    font-size: .85rem;
    color: #2c1502;
    font-weight: bold;

}

/* Trips Page Styles */
.packages h2,
.trip-table h2 {
    text-align: center;
    margin-top: 2rem;
    color: var(--primary-color);
    font-size: 2rem;
}


.trip-card {
    background-color: var(--accent1-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trip-card a {
    margin-top: auto;
}

.trip-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.trip-table {
    margin: 3rem auto;
    max-width: 800px;
    overflow-x: auto;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.trip-table th {
    background-color: var(--primary-color);
    color: white;
    }

/* Footer Section*/
footer {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--primary-color);
    color: white;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 3px;
}
footer a:hover {
    color: #FCB07E;
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
    /* filter: brightness(0) invert(1);  */
    opacity: 0.9;
}

.socialmedia img:hover {
    transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {

    /* Header */
    header {
        grid-template-columns: 1fr;
        text-align: center;
    }


    /* Home */
    .hero h1 {
        font-size: 1.8rem;
        padding: 1rem;
    }


    /* Contact Us */
    .contact-container {
        grid-template-columns: 1fr;
    }


    .contact-hero h2 {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

}






/* history section with grid or flex */

.history-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 4rem;
  background-color: #f0f0f0 ;
}

.history-content img
{
  width: 100%;
  height: auto;
  grid-column: span 2;
}


h1{
  text-align: center;
}
/* adventure section */

.gallery{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;}

.gallery img{
  width: 100%;
  height: auto;

  border-radius: 8px;
  object-fit: cover;
}

.gallery figcaption{
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--primary);
  
}

.gallery img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}



/* footer styles */
footer{
  background-color: var(--primary);
  text-align: center;
  color: var(--accent1);
  font-size: 1.3rem;

}
.socialmedia { 
  display: flex ;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;

}

.socialmedia img{
  width: 32px;
  height: 32px;
  opacity: 0.9;
  transition: transform .3s;
}

.socialmedia img:hover{
  transform: scale(1.2);
  
}
    


    .contact-hero h2 {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

